.collectionsContainer {
  height: 100vh;
  width: 28rem;
  background-color: var(--secondary-color);

  border-right: 0.01px solid #413e36;
  height: 100vh;
}

.collectionsTopbar {
  padding: 1.5rem 2rem;
  padding-left: 1.5rem;
  padding-bottom: none;
  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;

  height: 5vh;
}

.collectionsTopbarUsername {
  background-color: var(--tertiary-color);
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  padding: 0.15rem 1.15rem;
  padding-left: 0.5rem;

  display: flex;

  align-items: center;
  gap: 0.25rem;

  border-radius: 0.25rem;
}

.exclamationMark {
  color: var(--text-white);
  margin-left: 0.25rem;
}

.collectionTopbarAvatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton {
  background-color: var(--tertiary-color);
  color: var(--secondary-white);
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.collectionsMenuContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1.5rem;
  padding-bottom: 0;
  height: 85vh;
}

.searchMenu {
  display: flex;

  align-items: center;
  gap: 0.25rem;
  width: 90%;

  border-radius: 0.25rem;
  border: none !important;

  padding: 0.75rem 0.5rem;
}

.searchMenu:focus {
  outline: none;
}

.collectionsMenu {
  display: flex;
  flex-direction: column;
  margin: 0rem;
  margin-top: 1rem;

  overflow: auto;
  overflow-x: hidden;
}

.menu {
  list-style: none;
  color: white;

  font-family: 'Inter', sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
}

li {
  list-style: none;
}

.listIcon {
  margin: 0 1rem;
  width: 10px;
  height: 10px;
}

.listItem p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

/* .listItem:hover,
.listItem:focus {
  background-color: var(--tertiary-color);
  padding: 0.5rem;
  color: var(--secondary-color);
  border-radius: 0.25rem;
  cursor: pointer;
} */

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.rightClickMenuContainer {
  border-radius: 0.25rem;
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  color: var(--text-white);
  font-family: 'Inter', sans-serif;

  font-size: 0.9rem;
  background-color: var(--secondary-color);
}

.activeDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--blue);
}
