/* Response Container Styles */

.responsesViewContainer {
  padding: 0rem 2rem;
  margin-top: 2vh;
}

.responsesTypes {
  display: flex;
}

.responseType {
  padding: 1rem 2rem;

  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.active {
  background-color: var(--secondary-color);
  border-bottom: var(--tertiary-color) 2px solid;
}

.responseView {
  background-color: var(--secondary-color);
  height: calc(70vh - 4rem);
  padding: 2rem;
}

.responseViewInnerContainer {
  height: 100%;
  overflow: auto;
  background-color: var(--primary-color);
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.responseWithPlus {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
