/* Modal Styles */

.modalContent {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem;
  justify-content: center;
  align-items: start;
}

.modalInput {
  width: 16rem;
  height: 2.5rem;
  padding: 0 0.5rem;
  border: 1px solid var(--tertiary-color);
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.modalInputLabel {
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.modalInputLabel span {
  color: var(--tertiary-color);
  font-size: 1.25rem;
  margin-left: 0.25rem;
}

.modalButtonContainer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.modalButton {
  padding: 0.6rem 1rem;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 0.25rem;

  font-weight: 600;

  text-align: center;

  display: flex;
  align-items: center;
  gap: 0.25rem;

  border: none;
}

.secondaryButton {
  padding: 0.5rem 1rem;
  font-weight: 500;

  background-color: #504e45;
  border: none;
  border: var(--tertiary-color) 2px solid;
  border-radius: 0.25rem;
  color: var(--tertiary-color);

  text-align: center;

  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  width: 98%;
}

.subText {
  font-family: 'Intern', sans-serif;
  font-size: 0.85rem;
}

.subText span {
  color: var(--tertiary-color);
}
