.mainContainer {
  display: flex;
  flex-direction: row;
}

.collectionsContainer {
  height: 100vh;
  width: 20rem;
  background-color: var(--secondary-color);
}

.collectionsTopbar {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.collectionsTopbarUsername {
  background-color: var(--tertiary-color);
  font-size: 0.95rem;
  font-family: "Inter", sans-serif;
  padding: 0.25rem 1.5rem;
  padding-left: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.5rem;
}

.collectionTopbarAvatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.collectionsMenuContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
}

.searchMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 90%;

  border-radius: 0.5rem;
  border: none !important;

  padding: 0.75rem 0.5rem;
}
