.mainContainer {
  display: flex;
}

.mainAppContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  background-color: var(--primary-color);
}

.mainAppTopbar {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 1.5rem;
  padding-left: 0;

  height: 5vh;
}

.topbarTabsContainer {
  display: flex;
  align-items: center;
}

.topbarTabs {
  display: flex;
  height: 3rem;
}

.topbarTab {
  padding: 1rem 2rem;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;

  background-color: #242424;
}

.topbarTabActive {
  padding: 1rem 2rem;

  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: #242424;

  border-bottom: var(--tertiary-color) 2px solid;
}

.topbarTab span,
.topbarTabActive span {
  font-size: 0.7rem;
  color: var(--tertiary-color);
  margin-right: 0.5rem;
}

.topbarAddTab {
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: var(--secondary-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.shareButton {
  font-size: 0.8rem;
  padding: 0.25rem 1rem;
  height: 1.75rem;

  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 0.5rem;
}

.topbarActions {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.saveToWorkspace {
  padding: 0.5rem 1rem;
  font-weight: 600;

  background-color: #504e45;
  border: none;
  border: var(--tertiary-color) 2px solid;
  border-radius: 0.5rem;
  color: var(--tertiary-color);

  text-align: center;

  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.logoutButton {
  padding: 0.6rem 1rem;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 0.25rem;

  font-weight: 600;

  text-align: center;

  display: flex;
  align-items: center;
  gap: 0.25rem;

  border: none;
}

.urlContainer {
  padding: 0 2rem;
  display: flex;
  align-items: center;

  height: 8vh;
}

.urlLabel {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: var(--tertiary-color);

  padding: 0.6rem 1rem;
  border: var(--tertiary-color) 2px solid;

  border-radius: 0.25rem 0 0 0.25rem;
}

.urlInput {
  padding: 0.6rem 1rem;
  border: var(--tertiary-color) 2px solid;
  border-radius: 0 0.25rem 0.25rem 0;
  width: 40rem;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: var(--tertiary-color);

  background-color: var(--primary-color);
  border-left: none;
}

.row {
  display: flex;
  align-items: center;
}

.urlSendButton {
  font-size: 0.9rem;
  padding: 1.15rem 2rem;
  height: 1.75rem;

  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;

  margin-left: 0.5rem;
}

.urlEditButton {
  font-size: 0.9rem;
  padding: 1.45rem 2rem;
  height: 1.75rem;

  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  gap: 0.25rem;

  margin-left: 0.5rem;
}

/* Response Container Styles */

.responsesViewContainer {
  padding: 1rem 2rem;
  height: 55vh;
}

.responsesTypes {
  display: flex;
}

.responseType {
  padding: 1rem 2rem;

  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.active {
  background-color: var(--secondary-color);
  border-bottom: var(--tertiary-color) 2px solid;
}

.responseView {
  background-color: var(--secondary-color);
  height: 100%;
  padding: 2rem;
}

.responseViewInnerContainer {
  height: 100%;
  overflow: auto;
  background-color: var(--primary-color);
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.response {
  border: var(--light-skin) 1px solid;
  width: fit-content;
  min-width: 25rem;
  min-height: 20rem;
  overflow: hidden; /*add this*/
  border-radius: 0.5rem;

  margin: 2rem;
}

.responseTopBar {
  padding: 1rem;
  height: 5rem;
  background-color: var(--secondary-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.responseTopBarButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.responseTopBarBButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.responseTopBarButton {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  padding: 0.25rem;
  background-color: var(--primary-color);
  color: #a3a3a3;
  margin-left: 0.25rem;
  border-radius: 0.25rem;
}

.selectButton {
  font-size: 0.8rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  background-color: var(--primary-color);
  color: #a3a3a3;
  border: none;
}

.responseDeleteButton {
  background-color: #fc5753;
  padding: 0.3rem 0.8rem;
  font-weight: 600;

  border-radius: 0.25rem;
  color: white;
  border: none;
  font-family: "Inter", sans-serif;
}

.responseActive {
  width: 25px;
  height: 25px;
  border: 2px solid rgb(249, 238, 197, 0.5);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.responseActiveDot {
  animation: pulse 2s infinite;
  width: 10px;
  height: 10px;
  background-color: var(--tertiary-color);

  border-radius: 50%;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgb(249, 238, 197, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(249, 238, 197, 0);
  }
  100% {
    transform: scale(0.9);
  }
}

.responseTextArea {
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: var(--tertiary-color);
  resize: none;
}

.responseTextArea:focus {
  outline: none;
}
