.mainContainer {
  display: flex;
}

.mainAppContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  background-color: var(--primary-color);
}

.urlContainer {
  padding: 0 2rem;
  display: flex;
  align-items: center;

  height: 8vh;
}

.urlLabel {
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  color: var(--tertiary-color);

  padding: 0.6rem 1rem;
  border: var(--tertiary-color) 1.5px solid;

  border-radius: 0.25rem 0 0 0.25rem;
}

.urlInput {
  padding: 0.6rem 1rem;
  border: var(--tertiary-color) 1.5px solid;
  border-radius: 0 0.25rem 0.25rem 0;
  width: 40rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  color: var(--tertiary-color);

  background-color: var(--primary-color);
  border-left: none;
}

.urlSendButton {
  font-size: 0.9rem;
  padding: 1.15rem 2rem;
  height: 1.75rem;

  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;

  margin-left: 0.5rem;
}

.urlEditButton {
  font-size: 0.9rem;
  padding: 1.45rem 2rem;
  height: 1.75rem;

  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  gap: 0.25rem;

  margin-left: 0.5rem;
}
