.urlContainer {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  height: 8vh;
}

.urlLabel {
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  padding: 0.55rem 1rem;
  border: var(--tertiary-color) 1.5px solid;

  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.urlInput input {
  background-color: var(--primary-color);
  border: none;
  color: var(--tertiary-color);
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
}

.urlInputField:focus {
  outline: none;
}

.urlLabel input:focus {
  outline: none;
}

.urlLabel:focus {
  outline: none;
}

.urlInput {
  padding: 0.6rem 1rem;
  border: var(--tertiary-color) 1.5px solid;
  border-radius: 0 0.25rem 0.25rem 0;
  width: 35rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  color: var(--tertiary-color);

  background-color: var(--primary-color);
  border-left: none;
}

.urlInput:focus {
  outline: none;
}

.row {
  display: flex;
  align-items: center;
}

.urlSendButton {
  font-size: 0.9rem;
  padding: 1.15rem 2rem;
  height: 1.75rem;

  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;

  margin-left: 0.5rem;
}

.urlEditButton {
  font-size: 0.9rem;
  padding: 1.45rem 2rem;
  height: 1.75rem;

  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  gap: 0.25rem;

  margin-left: 0.5rem;
}
