.projectsSideBarContainer {
  background-color: var(--primary-color);
  width: fit-content;
  height: 100vh;
  font-family: "Inter", sans-serif;

  border-right: 0.01px solid #413e36;
}

.projectsSideBar {
  width:  4rem;
  padding: 1rem;
  height: 89vh;
}

.projectsSideBarHeading {
  margin-top: 1rem;
  color: var(--text-white);
  font-size: 0.9rem;
  height: 2vh;
}

.projectsContainer {
  margin-top: 2vh;
  height: 90vh;
  overflow: hidden;
}

.projectsContainer:hover {
  overflow: auto;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  gap: 1rem;
}

.project {
  height: 3rem;
  width: 3rem;
  text-align: center;
  background-color: var(--tertiary-color);
  border-radius: 0.25rem;
  font-size: 0.9rem;
  margin: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.addProjects {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 3rem;
  width: 3rem;

  font-size: 1.5rem;
  gap: 1rem;

  background-color: var(--secondary-color);
  color: var(--text-white);

  border-radius: 0.25rem;
  border: 2px solid var(--text-white);
}
