* {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

:root {
  --primary-color: #262626;
  --secondary-color: #1f1f1f;
  --tertiary-color: #f9eec5;

  --light-skin: #706c5f;

  --text-white: #e6e6e6;
  --red: #fc5753;
  --blue: #007be5;
  --yellow: #f3c11b;
  --purple: #9747ff;
  --grey: #667799;
}

.row {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
  margin: 1rem;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #333333;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: #121212;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
